@import "tailwindcss";



@layer base {
  html {
    font-family: 'consolas', system-ui, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'consolas', system-ui, sans-serif;
  }
}

/* Tabs overrides */
[data-state="active"] {
  font-weight: 600;
}
